button{
    border: none;
    width: 100px;
    height: 100px;
    background-color: darkturquoise;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* transform: rotateZ(30deg) translatex(200px ); */
    transition: 1s 0.1s;
}
button:hover{
    transform: rotateZ(180deg);
}
.material-icons{
    color: red;
    font-size: 90px;
}